body{
    font-family: 'Poppins', sans-serif;
    background: #f5f7fb;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
}

input, select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;

    border-radius: 8px;
    border: 1px solid #ddd;
}

button{

    width: 100%;
    padding: 12px;

    background: #4CAF50;

    color: white;

    border: none;

    border-radius: 10px;

    font-size: 16px;

    cursor: pointer;

}

button:hover{
    background: #45a049;
}

#result{
    text-align: center;
    margin-top: 20px;
}